body {
    background-image: url("../images/bokeh.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.nav {
    font-size: 175%;
    color: lightpink;
    text-align: center;  
}

.nav-padding {
    padding: 10px 75px 0px 75px;
}

a:hover{
    color: firebrick;
}

.h1-title,
.h2-title {
    color: coral;
    font-size: 250%
}

.title,
.title2 {
    text-align: center
}

.par-quote {
    background-image: linear-gradient(#fda7d9, #eefa63);
    display: inline;
    padding: 20px;
    width: 70%;
    
}

.section-quote {
    text-align: center;
    padding: 20px 0px 50px 0px;
}
