body {
    background-image: url("/images/donuts.jpg");
        background-size: cover;
    background-position: center;
    height: 100vh;
}

.nav-class {
     width: 60%;
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
}

.nav {
    padding: 0px 30px 0px 0px;
    font-size: 150%;
    color: darksalmon;
}

.h1-title,
.h2-title {
    color: coral;
}

.par-quote {
    background-image: linear-gradient(#fda7d9,#eefa63);
    display: inline;
    padding: 10px;
    width: 70%;
}